.contact {
  background: $color__gradient;
  color: white;
  font-family: $font__header;
    h2 {
    color: white;
  }
}

.two-up {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  div {
    width: calc(50% - 1em);
    margin-bottom: 1.5em;
  }
}