.hero {
  height: 100vh;
  background: url(../../assets/hero-image.svg) no-repeat center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  h1 {
    font-size: 1.5em;
    text-transform: uppercase;
    background: $color__gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 100%;
    @include tablet {
      font-size: 0;
    }
  }
  .logo {
    width: 150px;
    margin-bottom: 35px;
  }
  .name {
    display: none;
    @include tablet {
      display: block;
      margin-bottom: 1rem;
      max-width: 1000px;
    }
  }
}