.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 300px;
  text-align: center;
  h1 {
    font-size: 1.5em;
    text-transform: uppercase;
    background: $color__gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 100%;
  }
  img {
    width: 150px;
    margin-bottom: 35px;
  }
}