.hero {
  background: 
    url(../../assets/left-triangle.svg) 0 23% no-repeat, 
    url(../../assets/right-triangle.svg) right 28% no-repeat;
  height: calc(100vh - 120px);
  display: flex;
  justify-content: center;
  align-items: center;
  @include tablet {
    background: url(../../assets/hero-image.svg) no-repeat center;
    background-size: contain;
  }
}

.hero-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  h1 {
    font-size: 2.5em;
    text-transform: uppercase;
    background: $color__gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 100%;
    @include tablet {
      font-size: 0;
    }
  }
  .logo {
    width: 150px;
    margin-bottom: 35px;
    @include tablet {
      width: 190px;
    }
  }
  .name {
    display: none;
    @include tablet {
      display: block;
      margin-bottom: 1rem;
      max-width: 1000px;
    }
  }
  @include tablet {
    p {
      font-size: 2.7rem;
    }
  }
}